---
import companyData from "../data/company.json";
import facebookSVG from "../assets/facebook.svg";
import googleSVG from "../assets/google.svg";
import logo from "../assets/joseph-skin.webp";
---

<section class="footer-container">
    <div class="footer-top-container">
        <div class="footer-top">
            <div class="footer-left">
                <img src={logo.src} alt="company logo" class="footer-logo" />
                <div class="footer-social-container">
                    <ul>
                        <li>
                            <a href={companyData.socials.facebook}>
                                <img
                                    src={facebookSVG.src}
                                    alt="facebook"
                                    class="footer-social-img"
                                />
                            </a>
                        </li>
                        <li>
                            <a href={companyData.socials.google}>
                                <img
                                    src={googleSVG.src}
                                    alt="google"
                                    class="footer-social-img"
                                />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-left-middle">
                <h6>Our Specialities</h6>
                <ul>
                    <li><a href="/about#fences">Fencing</a></li>
                    <li><a href="/about#deck">Decking</a></li>
                    <li><a href="/about#landscape">Landscaping</a></li>
                    <li><a href="">Patio Covers</a></li>
                    <li><a href="/about#landscape">Handyman Work</a></li>
                </ul>
            </div>
            <div class="footer-right-middle">
                <h6>Explore</h6>
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Gallery</a></li>
                    <li><a href="">Warranty</a></li>
                    <li><a href="">Resources</a></li>
                </ul>
            </div>
            <div class="footer-right">
                <h6>Next Steps</h6>
                <ul>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Get a Quote</a></li>
                    <li><a href="">{companyData.phone}</a></li>
                    <li><a href="">Navasota, TX</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Privacy Policy</p>
        <p>Website by Windfall</p>
        <p>©2025 {companyData.name}</p>
    </div>
</section>
